body.gradient {
	background: linear-gradient(46.3deg, #69DFFF, #BC8DFF, #69DFFF, #BC8DFF);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

button.is-transparent{
  background-color: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1f1f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body.dark {
	background-size: 400% 400%;
	height: 100vh;
	background-color: #1f1f1f;
}

.linageeGradient {
		color:white;
		font-size:1.2rem;
		font-weight: bold;
    background-image: linear-gradient(46.3deg, #69DFFF 0%, #BC8DFF 100%);
}

.linagee {
	background-color: rgba(0,0,0,0.25);
}

.navbar-item.menu-item:hover{
  background-color: #8cbbff;
}

.page {
	padding: 10px;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.hm {
	border: solid blue 2px;
	width: 40%;
	height: 80%;
}

.lg {
	background-image: linear-gradient(rgb(168, 155, 225), #90cdf4)
}


.logo-background
{
  color: #fff;
  font-size:1.7rem;
  font-weight: bold;
}
